
@import url("components/container.css");
@import url("components/ avatar.css"); 

h2 {
  font-family: "Helvetica", sans-serif; /* if all headers use Helvetica */
}
body {
  color: black;
}
h1 {
  color: darkred;
}
h2 {
  color: darkorange;
}
body{
  background: rgb(255, 226, 220);
}

body {
  font-weight: lighter;
  font-weight: normal;
  font-weight: bold;
  font-weight: bolder;
}
body {
  color: rgb(30, 30, 30);
  text-align: justify;
  text-decoration: none;
}

body {
  font-weight: lighter;
  font-weight: normal;
  font-weight: bold;
  font-weight: bolder;
}

body {
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
}
.photo_de_profil {
  width:  300px;
}

.photo_copain {
  width: 300px;
}
body {
  font-family: Times, serif;
  font-family: Arial, sans-serif;
  font-family: Courier, monospace;
}

.title {
  text-align: center;
}
